.main {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding: 10px
}

.links {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  a {
    margin: 10px;
    color: rgb(171, 230, 236);
  }

}
